body{
    background-color: rgb(10, 10, 124);
    color:rgb(184, 174, 174);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    color: whitesmoke;
}

p{
    font-size: x-large;
}